@font-face {
  font-family: 'Sage-Runic';
  src: url('./assets/Sage-Runic.eot');
  src: url('./assets/Sage-Runic.woff') format('woff'),
  url('./assets/Sage-Runic.ttf') format('truetype'),
  url('./assets/Sage-Runic.svg#Sage-Runic') format('svg');
}

@tailwind base;
@tailwind components;
@tailwind utilities;